.Navbar {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px;
    font-size: 135%;
    background-color: #191B20;
    color: #fff;
}

/*Logo*/
.Navbar span {
    color: #F0A017;
    letter-spacing: .2rem;
}

.Navbar ul {
    list-style: none;
    margin-left: 10px;
}

.Navbar ul li {
    display: inline;
}

.Navbar ul li a, .Navbar ul li span{
    text-decoration: none;
    padding-left: 30px;
    color: #f3f3f3;
    transition: .4s;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .1rem;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

.Navbar ul li span:hover {
    color: #F0A017;
}

.Navbar ul li a:hover {
    color: #F0A017;
}

.Navbar ul li a:enabled {
    color: #931D48;
}

.Navbar .logo {
    color: #F0A017;
    cursor: inherit;
    letter-spacing: .4rem;
}

.MobileOnly {
    display: none;
    font-size: 200%;
}

#ham {
    font-size: 200%;
}

@media(max-width: 1000px) {
    .MobileOnly {
        display: block;
    }

    .DesktopOnly {
        display: none;
    }
}

@media(max-width: 600px) {
    .Navbar .logo {
        font-size: 85%;
        letter-spacing: .1rem;
    }

    .Navbar ul li span {
        padding-left: 0;
    }
}