.Modal {
    width: 70%;
    height: 70vh;
    background-color: #ebebeb;
    position: fixed;
    top: 15%;
    left: 15%;
    z-index: 100;
    transition: .6s;
}

@media(max-width: 900px) {
    .Modal {
        width: 90%;
        left: 5%;
    }
}